
.form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-succes{
    background-color: #27ae60;
    color: #ffffff;
}
.add-property{
    padding: 10px 23px;
    font-size: 12px;
    border-radius: 5px;
    text-decoration: none;
}
.add-property:hover{
    color: #ffffff;
}
.detailed-inf{
    display: flex;
}
.detailed-check{
    display: flex;
    flex-direction: row;

}
  
.detailed-checks{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.footer {
    background-color: #191919;
}

.footer-row {
    width: 100%;
    background-color: rgba(25, 25, 25, .9);
}

.bg-map {
    background-image: url("../images/map.png");
    background-repeat: no-repeat;
    background-position: center;
}

.footer-col {
    float: left;
    margin-right: 30px;
    width: calc(calc(100% / 3) - 30px);
}

.footer-logo {
    float: left;
    height: 24px;
    margin: 28px 0;
}

.footer-p {
    color: #cccccc;
    line-height: 28px;
    font-size: 16px;
}

.footer-p a {
    color: #cccccc;
    font-size: 16px;
}

.footer-p a:hover {
    color: #F9B500;
}
.footer-label{
    color: #ca0000;
}
.footer-p-padding-20px {
    padding: 20px 0;
}

.footer-section-title {
    color: #F9B500;
    padding: 30px 0;
}

.footer-section-link-item {
    margin-bottom: 20px;
}

.footer-line {
    background-color: rgba(170, 170, 170, .2);
    height: 1px;
    margin-bottom: 20px;
}

.footer-section-link-item a {
    color: #ffffff;
    font-size: 14px;
}

.footer-section-link-item a:hover {
    color: #F9B500;
}

.footer-section-link-item p {
    color: #ffffff;
    font-size: 14px;
    padding-top: 15px;
}
/* ......................................... */
.footer-menu {
    float: left;
    list-style: none;
    width: 50%;
    padding: 0;
}

.footer-menu li {
    display: inline-block;
    padding: 0 20px 20px 0;
}

.footer-menu li a {
    color: #ffffff;
    font-size: 12px;
}

.footer-menu li a:hover {
    color: #F9B500;
}

.footer-social-network {
    list-style: none;
    padding: 0;
    float: right;
    width: 50%;
    text-align: right;
}

.footer-social-network li {
    padding: 0 0 20px 20px;
    display: inline-block;
}

.footer-social-network li a {
    color: #cccccc;
    font-size: 12px;
}

@media (max-width: 575.98px) {
    .footer-col {
        float: none;
        padding: 15px;
        width: calc(100% - 30px);
        margin-right: 0;
    }
    .footer-menu {
        float: none;
        width: 100%;
        text-align: center;
    }
    .footer-menu li {
        padding: 10px;
    }
    .footer-social-network {
        float: none;
        width: 100%;
        text-align: center;
    }
    .footer-social-network li {
        padding: 10px;
    }
}
.tx-center{
    display: flex;
    justify-content: center;
}
.bg-succes{
    background-color: #27ae60;
    color: #ffffff;
}
.add-property{
    padding: 10px 23px;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
}






















